@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


:root {
    --cor0: white;
    --cor1: #69A660;
    --cor2: #247329;
    --cor3: #014017;
    --cor4: #69a66019;
    --cor5: rgba(0, 0, 0, 0.259);
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android:'idroid', arial, helvetica, sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

header h1{
    color:var(--cor0);
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.430);
}
header p{
    font-family: var(--fonte-padrao);
    color: var(--cor0);
    font-size: 1.2em;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 500px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.430);
}
main h1 {
    color: var(--cor3);
    font-family: 'idroid', Arial, Helvetica, sans-serif;
}

main h2  {
    background-image: linear-gradient(to right, var(--cor1), var(--cor4));
    color:var(--cor3);
    font-family: 'idroid', Arial, Helvetica, sans-serif;
}
main img{
    width: 100%;
}
main img.pequena{
    width: 50%;
    margin: auto;
    display: block;
}

main {
    background-color:var(--cor0);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 5px 5px 10px var(--cor5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav{
    background-color: #014017;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.259)  ;
}
nav a {
    color: var(--cor0);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    border-radius: 3px;
    transition-duration: 0.5s;
}
nav a:hover{
   background-color: #247329;
   color: #014017; 
}

footer {
    background-color: var(--cor3);
    color: var(--cor1);
    text-align: center;
}